<footer class="topnav">
    <div class="footer-copyright">
        <div class="container-two">
            All Articles belong to the <a href="https://www.bbc.com/" target="_blank">BBC News Network</a>
            {{!-- <a class="grey-text text-lighten-4 right" href="/articles.json">Articles Json</a> --}}
        </div>
    </div>
</footer>