<footer class="topnav">
    <div class="footer">
        <div class="container-two">
            All Articles belong to the <a href="https://www.bbc.com/" target="_blank">BBC News Network</a>
        </div>
    </div>
</footer>