<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    {{!-- Materialize Icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  type="text/css" href="/assets/style.css">
    {{!-- Google Font --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <!-- tab icon -->
    <link rel="shortcut icon" href="assets/img/news-icon.png" />
    {{!-- Google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <title>Scraping App</title>
</head>
<body>

    {{> nav/navbar}}

    <div class="container-one">
        {{{ body }}}

    </div>
    {{> footer}}    
</body>
</html>