<div>
    <h1 class="card z-depth-3 center align">The BBC News Scraper</h1>
    <div class="row">
        <div class="col s3"></div>
        <h5 class="card z-depth-3 center align col s6"></h5>
    </div>
</div>
<div class="row">
    <div class="col s8 left align">
        {{#each article}}
        <div class="card-panel">
            <h4>{{this.title}}</h4>
            {{!-- <h5>{{this.link}}</h5> --}}
            <h5>{{this.summary}}</h5>
            <a href="{{this.link}}" class="wave-effect" id="btn" target="_blank">READ ARTICLE</a>
            <br>
            <br>
             <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Save Article</a>
        </div>
        {{/each}}
    </div>
</div>