body {
    color: black;
}

.card {
    position: relative;
    /* margin: 0.5rem 0 1rem 0; */
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    margin-right: 180px;
    margin-left: 180px;
    font-size: 45px;
    font-family: 'Alfa Slab One', cursive;
    color: yellow;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-color: black;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black;
}

.card-panel {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px;
    text-align: center;
    margin-right: 167px;
    margin-left: 167px;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    text-align: center;
}

.row .col.s8 {
    width: 100%;
    /* margin-left: auto; */
    /* left: auto; */
    /* right: auto; */
    margin: auto;
}
body {
    background-color: white;
}