<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">The BBC News Scraper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="" target="_blank">Saved Articles</a></li>


        </ul>


    </div>





</nav>