<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Read the Latest News Articles</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="" target="_blank">Saved Articles</a></li>
        </ul>
    </div>
</nav>